<div class="row">
    <div class="col-xl-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-graphic-donut [graficos]="graficos.grafico1"></app-graphic-donut>
            </div>
        </div>
    </div>
    
    <div class="col-xl-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-graphic-donut [graficos]="graficos.grafico2"></app-graphic-donut>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-graphic-donut [graficos]="graficos.grafico3"></app-graphic-donut>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-graphic-donut [graficos]="graficos.grafico4"></app-graphic-donut>
            </div>
        </div>
    </div>
</div>